@import "../lib/breakpoint-sass/stylesheets/breakpoint";

$phone: 300px 727px;
$iPhone: 320px 320px;
$tablet: 728px 1024px;
$phone-tablet: 1024px 1024px;
$desktop: 1025px 1399px;
$desktop-all: 1025px;
$large-desktop: 1500px 5120px;